html body{
    background-color: rgb(175, 174, 174);
}

.hizliErisim{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid gray;
    border-radius: 7px;
    box-shadow: 3px 5px 5px gray;
    width: 500px;
    background-color: rgb(221, 221, 221);
}

.element{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#btnTeslim{
    display: flex;
    width: 230px;
}

#btnOnce{
    display: flex;
    width: 230px;
    margin-left: 30px;
}

.input{
    width: 200px;
    border: 1px solid gray;
    border-radius: 7px;
}

.labelKitap{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(106, 233, 253);
    background-color: rgb(50, 12, 12);
    border-radius: 7px;
    box-shadow: 3px 5px 5px gray;
    margin-bottom: 15px;
}