body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(175, 174, 174);
}

.hizliErisim{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    border-radius: 7px;
    box-shadow: 3px 5px 5px gray;
    width: 500px;
    background-color: rgb(221, 221, 221);
}

.input{
    width: 200px;
    margin-right: 70px;
    border: 1px solid gray;
    border-radius: 7px;
}

.element{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.button {
    display: flex;
    justify-content: center; /* Butonları yatayda ortalar */
    gap: 10px; /* Butonlar arasındaki boşluk */
}

.btn{
    width: 150px;

}.labelPersonel{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(106, 233, 253);
    background-color: rgb(50, 12, 12);
    border-radius: 7px;
    box-shadow: 3px 5px 5px gray;
    margin-bottom: 15px;
}